

p {
  /* font-family:roboto, Arial, Helvetica, sans-serif;font stack allowing loading a backup font */ 
  margin-top: 0;
  margin-bottom: 0;
}

body {
   /* This style below will be inherited - Taking advantage of inheritance. */
  font-family: roboto, Arial, Helvetica, sans-serif;
  margin: 0; /*default margin on body is 8px. Useful to set to 0 for a more cleaner development.*/
  padding-top: 70px;
  padding-left: 95px;
  padding-right: 24px;
  background-color: rgb(246, 246, 246);
}