
.header {
  height: 55px;

  display: flex;  /*to make it block div inline*/
  justify-content: space-between; /*alter default position*/

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(236, 230, 230);

  z-index: 100; /*because after setting position relative on the video grid, since is was written later, it will appear on top of an earlier set positional element, if they overlap like in our header here (that is not static/follows order of writing) so we use z index to fix it*/

}

.left-section {
  display: flex;
  align-items: center; 
  padding-left: 7px;
}

.hamburger-menu {
  height: 23px;
  margin-left: 22px;
  margin-right: 22px;
}

.youtube-logo {
  height: 20px;
}


.middle-section {
  flex: 1;  /*take the available space*/
  margin-left: 60px;
  margin-right:30px ;
  max-width: 500px;
  display: flex;
  align-items: center;
}


.search-bar {
  flex: 1; /*take the available space*/
  border-radius: 20px 0 0 20px;
  height: 36px;
  padding-left: 16px;
  font-size: 16px;
  border: 1px solid rgb(208, 206, 206);
  box-shadow: inset 1px 4px 1px rgba(0, 0, 0, 0.05);
  width: 0;  /*a case of element with default width*/
}

.search-bar::placeholder {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.search-bar:focus {
  outline: none; /*to remove the default blue border on focus*/
}
.search-icon-btn {
  width: 54px;
  height: 39px;
  border-radius: 0 20px 20px 0;
  border: 1px solid rgb(208, 206, 206);
  margin-left: -1px;  /*-ve value ensures uniform border*/
  margin-right: 10px;

  position: relative;
  display: flex;  /*in order to align the tooltip and the icons - both are in the btn */
  justify-content: center;  /*so we used flexbox to center and align them both (child)*/
  align-items: center;    /*even though one is always visible and the other a tooltip*/
}

.search-icon {
  height: 24px;
  /*margin-top: 4px;*/  /*flexbox means that the marginstyling is no longer needed*/
}


.search-icon-btn .tooltip,
.voice-search-btn .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.bell-icon-container .tooltip {
  /* font-family: roboto, arial;  Due to inheritance*/
  position: absolute;
  background-color: rgba(55, 55, 55, 0.7);
  color: white;
  padding: 4px 5px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -24px;
  opacity: 0;
  transition: opacity 0.25s; /*what to transition and for how long*/
  pointer-events: none;
  white-space: nowrap;  /*prevents the text from wrapping and stay on one line*/
}

.search-icon-btn:hover .tooltip,
 .voice-search-btn:hover .tooltip,
 .upload-icon-container:hover .tooltip,
 .youtube-apps-icon-container:hover .tooltip,
 .bell-icon-container:hover .tooltip {
  opacity: 1;
}

.voice-search-btn {
  width: 40px;
  height: 38px;
  border-radius: 50%;
  border: 1px none rgb(249, 248, 248);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice-icon {
  /*margin-top: 7px;*/
  height: 24px;
}


.right-section {
  /*background-color: aquamarine;*/
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.upload-icon-container,
.youtube-apps-icon-container,
.bell-icon-container {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  height: 26px;
}


.youtube-apps-icon {
  height: 26px;
}

.bell-icon {
  height: 29px;
}

.current-user-picture {
  width: 36px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

/*.bell-icon-container {
  position: relative;
}*/

.notifications-count {
  position: absolute;
  top: -1px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-family: roboto, arial ;
  padding: 3px 6px;
}

